@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full height for html, body, and Next.js root */
html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
